@font-face {
    font-family: 'Grundschrift';
    src: url('/lean-jekyll-theme/assets/fonts/GrundschriftRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('/lean-jekyll-theme/assets/fonts/NowRegular.woff') format("woff");
    font-weight: normal;
    font-style: normal;
}

