---
---

@font-face {
    font-family: 'Grundschrift';
    src: url('{{ "assets/fonts/GrundschriftRegular.woff" | relative_url }}') format("woff");
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Now';
    src: url('{{ "assets/fonts/NowRegular.woff" | relative_url }}') format("woff");
    font-weight: normal;
    font-style: normal;
}

