<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}" />
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>
          <a href="{{ "/" | relative_url }}">
            {{ site.title | default: site.gitlab.repository_name }}
          </a>
        </h1>
        {{ site.description }}
        {% assign this_page_url = page.url %}
        <ul class="links">
          {% assign sorted_pages = site.html_pages | sort: "title" %}
          {% for menu_page in sorted_pages %}

            {% if menu_page.is-main != true %}
              {% continue %}
            {% endif %}

            {% if this_page_url contains menu_page.url %}
              {% assign exposed = "exposed" %}
            {% else %}
              {% assign exposed = "" %}
            {% endif %}

            <li>
              <a href="{{ menu_page.url | relative_url }}" class="{{ exposed }}">
                {{ menu_page.title | default: menu_page.name }} >
              </a>
            </li>

          {% endfor %}
        </ul>
      </header>
      <section>
        {{ content }}
      </section>
    </div>
    <footer>
      {{ page.footer }}
    </footer>
    <link rel="stylesheet" href="{{ "/assets/css/fonts.css" | relative_url }}" />
  </body>
</html>

