---
layout: default
---

<h2>{{ page.title }}</h2>

{{ content }}

{% assign path = page.path | replace: page.name, "" %}
{% assign items = site.html_pages | sort: "title" %}
<ul>
  {% for item in items %}
  {% if item.path contains path and item.name != page.name %}
  <li><a href="{{ item.url }}">{{ item.title }}</a></li>
  {% endif %}
  {% endfor %}
</ul>

