---
layout: default
---

{% if page.is-main %}
  <h2>{{ page.title }}</h2>
{% else %}
  {% assign path = page.path | split: "/" %}
  {% assign current_path = "/" %}
  {% for item in path %}
    {% if forloop.last %}
      <h2 class="path">{{ page.title }}</h2>
    {% else %}
      {% assign current_path = current_path | append: "/" | append: item %}
      <h3 class="path">
        <a href="{{ current_path | absolute_url }}">{{ item }}</a> >
      </h3>
    {% endif %}
  {% endfor %}
{% endif %}

{{ content }}

